body {
margin: 30px auto;
width:960px;
background: #EEE;
font-family: "myriad-pro";
}

h1, h2, h3, h4, h5, h6 { font-weight: 600; }
	h3 { margin: 0; }
a { color: #006699; }

.right { float: right; border-radius: 0 8px 0 0; }	.clear { clear: both; }

#container
{
width: 860px;
}

.paragraph { padding: 0 30px; }

.heading { height: 30px; }

.heading h1 {
margin: 5px 0 15px 0;
float: left;
width: 270px;
font-size: 22px;
font-weight: normal;
font-family: "myriad-pro";

} 

img.logo { 
	border-radius: 8px 0 0 0;
	 }



#limo_picture {
background-color: #000000;
}

p {
font-family: 'Muli', sans-serif;
}

div#navbar2 {
float: right;
height: 30px;
}

div#navbar2 ul {
margin: 0px 0 0 0;
padding: 3px;
text-align: right; 
font-family: "myriad-pro";
font-size: medium;
color: #01010A;
line-height: 30px;
white-space: nowrap;
}

div#navbar2 li {
list-style-type: none;
display: inline;
}

div#navbar2 li a {
text-decoration: none;
padding: 7px 10px;
font-size: 16px;
color: #006699;
}

div#navbar2 li a:link {
color: #006699:
}

div#navbar2 li a:visited {
color: #006699;
}

div#navbar2 li a:hover {
border-radius: 4px;
color: #01010A;
background-color: #F0F0FC;
}

div#navbar2 li a:active {
border-top: 4px solid #CC0000;
font-weight: bold;
color: #ffffff;
background-color: #29292E;
}

.content { 
background: #FFF; 
clear: both;
margin: 10px 0 0 0;
border-radius: 8px;
  -moz-box-shadow:    0px 0px 6px #ccc;
  -webkit-box-shadow: 0px 0px 6px #ccc;
  box-shadow:         0px 0px 6px #ccc;
}

h1 {
font-size: 18px;
}


#content {
padding: 10 px 20px
}

p#call {
clear: both; 
background: #EEE; 
font-size: 30px;
font-weight: bold;
color: #2586d1;
padding-left: 24px;
}

#main_list
{
list-style: none;
float: left;
padding: 0;

margin: 0px 0 20px 0;
}

ul.col-list { 
	background-image: url('Images/checkmark.png') no-repeat;
	float: left; 
	background-position: 5px center;
	padding: 0px 0 0px 20px;
	font-size: 17px;
	width: 245px;	
	}
	
ul.col-list li { 
	padding: 5px 0; 
	list-style: none;
	font-size: 20px;
}

#main_list li {
background-image: url(Images/checkmark.png);
font-family: 'Muli', sans-serif;
font-size: 18px;
background-repeat: no-repeat;
background-position: 5px center;
padding: 7px 0 7px 20px;
width: 250px;
}

#main_list2
{
list-style: none;
float: right;
padding: 0;
margin: 0px 0 20px 0;
}

#main_list2 li {
background-image: url(Images/checkmark.png);
font-family: 'Muli', sans-serif;
font-size: 18px;
background-repeat: no-repeat;
background-position: 5px center;
padding: 7px 0 7px 20px;
width: 300px;
}

#calendar {
position:absolute;
top: 260px;
width:800px;
height: 600px;
border: 3px solid #5B5B61;
}

#photos {
padding: 5px 0 10px 0;
height: 1000px;
margin-top: 50px;
text-align: center;
}

#spec_draw {
position: absolute;
margin: 50px;
}

#features {
margin: 270px 0 0 0;
clear: both;
}

#wufoo {
border: 1px solid #5B5B61;
margin-top: 50px;
float: left;
width: 600px;
}

#googlemap {
float: right;
width: 200px;
margin-top: 50px;
}

address {
font-family: 'Muli', sans-serif;
}



ul#socialsend  {
list-style: none;
margin: 0;
padding: 0;
float: right;
}

#socialsend li {
display: inline-block;
}

#citylinks {
margin-top: 60px;
float: left;
width: 620px;
}

#citylinks a:link {
color: #01010A
}

#citylinks a:visited {
color: #2A2A5E;
}

#citylinks a:hover {
color: #000000;
background-color: #F0F0FC;
}

#citylinks a:active {
color: #CC0000;
}


#footer {
clear: both;
padding-top: 5px;
} 

#footer p { float: left; font-size: 12px; color: #777; }

#footer a {
text-decoration: none;
}

#city_info {
	max-width: 70%;
	float: left;
	padding-right; 2px;
}

